<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="user" class="entity.User" />
    <bean id="userdao" class="Dao.UserDao" />
    <bean id="userservice " class="service.UserService">
        <property name="userdao" ref="userdao"/>
    </bean>


    <bean id="commentdao" class="Dao.CommentDao" />
    <bean id="comments" class="entity.Comments" />

    <context:component-scan base-package="Dao" />


    <!-- 配置spring-jdbcTemplate模板 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="root" />
        <property name="password" value="895998" />
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/food?useUnicode=true&amp;characterEncoding=UTF8&amp;useSSL=true" />

    </bean>



    <!-- 配置 NamedParameterJdbcTemplate,
         该对象可以使用具名参数, 其没有无参数的构造器, 所以必须为其构造器指定参数
    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>-->

    <!-- 配置事务管理器
    <bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

   启用事务注解
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <aop:config>
        <aop:pointcut id="tx-pointcut" expression="execution()" />
        <aop:advisor advice-ref="txAdive" pointcut-ref="tx-pointcut" />
    </aop:config>-->

</beans>