
/*轮播*/
.carousel{
    position: absolute;
    z-index:0;
}
.carousel{
    height: auto;
}
.item{
    width: 100%;
    height: auto;
}
.item img{
    width: 100%;
    height: auto;
}


/* ‘ 我们提供 ’  一栏*/
.Provide{
    width: 100%;
    height: 600px;
    background-color: #fff8ef   ;
}

.Provide .we-provide{
    text-align: center;
    margin-top: 100px;
}
.Provide .Provide-head{
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    border-bottom:1px solid  #cccccc;
}

.Provide .Provide-head h1{
    margin: 0 auto;
    width: 200px;
    position: relative;
    top: 148px;
    padding-bottom: 10px;
    border-bottom: 2px solid  #e25111;
}
.we-provide ul{
    display: inline-block;
    width: 1100px;
    height: 233px;
    padding: 0 0;
}
.we-provide ul li{
    display: inline-block;
    text-align: center;
    width: 314px;
    height: 233px;
}

/*菜肴欣赏*/
.appreciate{
    width: 100%;
    height: 600px;
    background-color: #fff8ef   ;
}
.appreciate .appreciate-head{
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    border-bottom:1px solid  #cccccc;
}
.appreciate .appreciate-head h1{
    margin: 0 auto;
    width: 200px;
    position: relative;
    top: 148px;
    padding-bottom: 10px;
    border-bottom: 2px solid  #e25111;
}

.text{
    float: left;
    width: 763px;
    height: 798px;
    background-color: #fff8ef   ;
}

.text p{
    height:266px;
    margin-top: 266px;
    font-size: 16px;
    background-color: #e0dedc;
    padding-top: 100px;
}
.appreciate-text img{
    width: 100%;
    margin-top: 20px;
}
.appreciate-pic img{
    float: left;
}

/*菜系展示*/
.kinds{
    width: 100%;
    height: 900px;
    position: relative;
    float: left;
    /*text-align: center;*/
    background-color:#fff8ef;
}
.kinds ul{
    margin-top: 40px;
    text-align: center;
}
.kinds ul li{
    display: inline-block;
    list-style: none;
    font-size: 22px;
    margin-left: 140px;

}

.kinds ul li a:hover {
    color: #e25111;
}

.kinds ul li a{
    color: black;
    text-decoration: none;
}


.tab-content .fade>a {
    display: inline-block;
    margin-left: 72px;
    margin-top: 50px;
    border: 2px solid transparent;
}
.tab-content .fade>a:hover{
    border: 2px solid orange;
}
.tab-content img{
    width: 380px;
    height: 266px;
}



.more{
    text-align: center;
    margin-top: 50px;
}
.more>a{
    font-size: 20px;
}

