.distance{
    width: 100%;
    height: 938px;
}

.head{
    width: 100%;
}
.head a img{
    width: 200px;
    height: 80px;
}
.head span{
    font-size: 20px;
    border-left: 1px solid gray;
    padding: 10px 10px;
}

/*登录框*/
.text{
    width: 100%;
    height: 510px;
    background-color: #f7f7f7;
}
.text form{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: white;
    margin-left: 150px;
    margin-top: 50px;
    padding-top: 50px;
}

.text form .textbox{
    width: 320px;
    height: 46px;
    display: block;
    margin: 30px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 22px;
    font-size: 14px;
    color: #333;
    padding: 11px;
}
.text form label{
    color: #666;
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
    margin-left: 40px;
}
.text form label .checkbox{
    display: inline-block;
}

.text form .forgetpassword{
    line-height: 22px;
    color: #999;
    font-size: 13px;
    display: inline-block;
    margin-left: 158px;
}

.text form  .forgetpassword:hover {
    text-decoration: underline;
    color: #ec5541;
}

.text form .suiminbox{
    text-align: center;
}
.text form .submitbox .submit{
    margin-top:20px;
    display: inline-block;
    vertical-align: top;
    height: 42px;
    border: 1px solid orange;
    border-radius: 4px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    padding: 0px 24px;
    background: #ffa500;
    cursor: pointer;

}


.code {
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:30px;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    float:left;
    cursor:pointer;
    width:150px;
    height:60px;
    line-height:60px;
    text-align:center;
    vertical-align:middle;

}

a {
    text-decoration:none;
    font-size:12px;
    color:#288bc4;
}
a:hover {
    text-decoration:underline;
}
.verify{
    display: inline-block;
    width: 100%;
    height: auto;
}
.verify table{
    margin: 0 auto;
    width: 320px;
}
.verify table tr{
    display: inline-block;
}

.verify input{
   float:left;
    width: 92px;
    display: inline-block;

    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 22px;
    font-size: 14px;
    color: #333;
    padding: 11px;
}