
.distance{
    height: auto;
    margin-bottom: 100px;
}
.head_img{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.head_img img{
    height: 400px;
    width: 600px;
    display: inline-block;
    float: left;
}
.benefits legend{
    margin: 0 0;
}
.cuisinename{
    display: inline-block;
    float: left;
    width: 300px;
    font: 24px '微软雅黑','YaHei',Arial,Helvetica,sans-serif;
    margin: 50px 0 0 30px;
}
.head_img .benefits{
    display: inline-block;
    float: left;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 40px 0 0 30px;
}
.head_img .benefits p{
    margin: 8px 20px 0 20px;
}

/*食材明细*/
p{
    font-size: 14px;
}


.topic{
    font-size: 25px;
    color: #ffa500;
}

.ingredients{
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 auto 15px auto;
    width: 800px;
    height: auto;
}

.ingredients ul{
    display: inline-block;
}

.ingredients ul li{
    height:  50px;
    width: 100px;
    display: inline-block;
    list-style: none;
    font-size: 19px;
    margin-left: 50px;
    text-align: center;
    margin-top: 10px;
}
/*做法*/
.practice{
    width: 800px;
    border-bottom: 1px solid  #ddd;
    margin: 0 auto;
}

.recipeStep_num {
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 18px;
    height: 34px;
    left: 0;
    line-height: 34px;
    text-align: center;
    top: -44px;
    width: 34px;
}

/*视频*/
.video{
    text-align: center;
}





















